*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

/*header*/

.h-container{
    width: 100%;
    background-color: blueviolet;
    border: 1px solid black;
    justify-content: space-between;
}

.lg, .ug{
    width: 20%;
    background-color: pink;
}

nav{
    justify-content: end;
}

nav div{
    width: 80%;
    background-color: lightcoral;
    border: 1px solid black;
}

/*aside*/

aside div{
    width: 20%;
    height: 100%;
    background-color: blueviolet;
    border: 1px solid black;
    position: absolute;
    top: 21px;

}