*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

/*header*/

.h-container{
    width: 100%;
    background-color: #080b12;
    justify-content: space-between;
}

.lg{
    width: 20%;
    background-color: black;
}

.ug{
    width: 20%;
    justify-content: end;
}

.lg img{
    width: 50%;
    margin: 3% 10%;
}

.ug button{
    color: white;
    background-color: #080b12;
    border: 1px solid white;
    border-radius: 25px;
    padding: 0% 10%;
    margin: 4% 2%;
    cursor: pointer;
}


/*main*/

.m-container{
    width: 100%;
    height: 100vh;
    background-color: violet;
    position: relative;
}

/*aside*/

.a-container{
    width: 20%;
    height: 100vh;
    color: white;
    background-color: black;
    position: absolute;
    top: 0;
}

.a-container .icon-list li img{
    width: 7%;
    margin: 3% 2% 0% 2%;
}

.a-container .icon-list li{
    color: #989898;
}

.a-container .icon-list li:hover{
    border-left: 4px solid #adff2f;
    cursor: pointer;
    color: #f7f7f7;
}

.a-container h5{
    margin: 4% 2%;
}

.a-container button{
    background-color: #a3a3a3;
    border: none;
    cursor: pointer;
    font-size: 45px;
    font-weight: bold;
    padding: 0% 4%;
    position: relative;
    margin-bottom: 2%;
}

.crea{
    position: absolute;
    top: 21%;
    padding-left: 3%;
    color: #717171;
}

.play-list li{
    padding: 3% 0%;
    color: #717171;
}

.user{
    color: #717171;
    position: absolute;
    bottom: 0%;
}

.user img{
    width: 5%; 
    margin: 0% 5%;
}

.user hr{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
}

.profilo{
    background-color: #717171;
    border-radius: 50%;
}

.nome{
    color: white;
    font-weight: bold;
}

/*nav*/

.n-container{
    width: 80%;
    background-color:#141922;
    padding: 2% 0%;
    color: #7d7f84;
}

.n-container ul{
    justify-content: center;

}

.n-container li{
    list-style: none;
    margin-right: 2%;
    cursor: pointer; 
}

.n-container li:hover{
    border-bottom: 4px solid #adff2f;
}















nav, section{
    justify-content: end;
}

.recente{
    width: 80%;
    background-color: pink;
    border: 1px solid black;
}

.consigliata{
    width: 80%;
    background-color: pink;
    border: 1px solid black;
}

.artisti{
    width: 80%;
    background-color: pink;
    border: 1px solid black;
}

/*footer*/

.ascolto{
    width: 100%;
    background-color: blueviolet;
    border: 1px solid black;
    justify-content: space-between;
}
